/* ===========================GLOBAL================================= */
/* ===========================GLOBAL================================= */

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #8A8A8A;
  background: #1B1B1B;
}


body.lock {
  overflow: hidden;

}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(49, 49, 49, 0.508);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
  transition: all .3s;
}

.menu__hidden {
  display: none;
}


.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;

}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header__logo {
  margin-right: 30px;
}

.button {
  color: #fff;
  display: block;
  background: #DA4533;
  padding: 14px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  position: relative;
  transition: all .3s;
}

.button:hover {
  transform: scale(1.1);
  transition: all .3s;
}

.button::before {
  content: "";
  position: absolute;
  border: 1px solid #fff;
  left: 0;
  top: 0;
  border-radius: 6px;
  width: 273px;
  height: 79px;
  opacity: 0;
  z-index: -1;
  transition: all .3s;
}

.button:hover:before {
  opacity: 1;
  z-index: 1;
  transform: matrix(0.99, -0.05, 0.11, 0.99, 0, 0);
  transition: all .3s;

}

.header__button-empty {
  color: #DA4533;
  position: relative;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all .5s;

}

.button--empty {
  color: #DA4533;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all .5s;
  background-color: transparent;
}

/* ===========================BURGER================================= */
/* ===========================BURGER================================= */

.burger {
  width: 46px;
  height: 46px;
  padding: 12px 9px;
  position: fixed;
  top: 12px;
  right: 20px;
  background: rgba(255, 255, 255, 0.051);
  border-radius: 5px;
  transition: all .3s;
  direction: rtl;
  z-index: 200;
  display: none;


}

.burger--active span {
  transform: scale(0);
  width: 29px;

}

.burger--active.burger::before {
  transform: rotate(-45deg) translate(0px, -50%);
  width: 29px;
  top: 50%;


}

.burger--active.burger::after {
  transform: rotate(45deg) translate(0px, -50%);
  width: 29px;
  top: 50%;

}


.burger span {
  height: 2px;
  width: 29px;
  background-color: #fff;
  display: block;
  margin: 9px 0;
  transition: all .3s;

}

.burger::before {
  content: "";
  display: block;
  width: 23px;
  height: 2px;
  background-color: #fff;
  transition: all .3s;
  position: absolute;
}

.burger::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  transition: all .3s;
  position: absolute;
}

.burger--follow {
  box-shadow: 0 1px 8px rgb(243, 52, 52);
  border-radius: 3px;
  transition: all .3s;
  background-color: #141414;
}

.burger:hover {
  background: rgba(255, 255, 255, 0.1)
}

.burger:focus {
  border: 1px solid #1B1B1B
}

.burger:hover.burger::after {
  width: 29px;
  transition: all .3s;
}

.burger:hover.burger::before {
  width: 29px;
  transition: all .3s;
}






/* ===========================HEADER-NAV================================= */
/* ===========================HEADER-NAV================================= */



.header__top {
  font-size: 16px;
  padding: 22px 0px;

}


.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.header__top-cons {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 160%;
  white-space: nowrap;
  margin-right: 30px;
}

.header__top-phone {
  color: #FFFFFF;
  font-weight: 500;
  margin-right: 20px;
  transition: all .4s;
}

.header__top-phone:hover {
  text-decoration: underline;
  transform: scale(1.05);
  transition: all .5s;
}


.header__top-get {
  color: #DA4533;
  transition: all .4s;
}

.header__top-get:hover {
  text-decoration: underline;
  transform: scale(1.05);
  transition: all .5s;
}


.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  color: #fff;
  line-height: 160%;
  margin-right: 30px;
  transition: all .3s;
}

.header__nav-item:hover {
  color: #DA4533;
  transform: scale(1.1);
  transition: all .4s;
}


.header__nav-item:last-child {
  margin-right: 0;
}





/* ===========================HEADER-BODY================================= */
/* ===========================HEADER-BODY================================= */


.header__body {
  background: url("../image/backgroud_black.jpg") #1B1B1B no-repeat center/cover;
  background-blend-mode: multiply, normal;
}

.header__body-inner {
  padding-top: 110px;
  padding-bottom: 110px;
}

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.header__content {
  margin-right: 30px;
}

.header__subtitle {
  line-height: 160%;
  margin-bottom: 8px;
}


.header__title {
  color: #fff;
  font-weight: 500;
  font-size: 55px;
  line-height: 135%;
  font-family: 'STIXTwoText', serif;
  margin-bottom: 16px;
}

.header__title span {
  color: #DA4533;
}

.header__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 48px;
  max-width: 598px;
}

.header__button-box {
  display: flex;
  align-items: center;
  white-space: nowrap;

}


.header__button {
  margin-right: 36px;
}

.header__button:last-child {
  margin-right: 0;
}




.header__button-empty:hover:after {
  transform: translateX(8px);
  transition: all .3s;
}


.header__button-empty:hover {
  transform: scale(1.1);
  transition: all .3s;
}



.header__button-empty::after {
  content: "";
  position: absolute;
  background: url("../image/arrow-right.svg") no-repeat;
  top: 47%;
  right: -16px;
  height: 17px;
  width: 30px;
}

.header__img-box img {
  max-width: 544px;
  max-height: 513px;
  width: 100%;
  height: 100%;


}



/* ===========================HEADER-EXPIRIENCE================================= */
/* ===========================HEADER-EXPIRIENCE================================= */



.header__expirience-inner {
  display: grid;
  grid-template-columns: 364px 804px;
  column-gap: 48px;
  padding-bottom: 120px;
}


.expirience__heading {
  margin-bottom: 50px;

}

.expirience__img-box {

  width: 396px;
  height: 430px
}

.expirience__img-box img {
  width: 100%;


}

.expirience__block1 {
  margin-bottom: 100px;
}



.expirience__title {
  color: #fff;
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  font-family: 'STIXTwoText';
}

.expirience__text {
  line-height: 160%;
  max-width: 800px;
}

.expirience__list {
  display: grid;
  grid-template: 1fr 1fr / repeat(2, minmax(210px, 392px));
  gap: 20px;
}

.expirience__item {
  padding: 20px;
  border: 1px solid transparent;
  border-bottom: none;
  border-right: none;
  background: linear-gradient(#242424 0 0) padding-box, linear-gradient(162deg, rgba(218, 69, 51, 1) 0%, rgba(27, 27, 27, 0) 34%) border-box;
  border-image-slice: 1;
  border-radius: 8px;
  width: 100%;
}

.expirience__item:hover {
  background: linear-gradient(#323232 0 0) padding-box, linear-gradient(162deg, rgba(218, 69, 51, 1) 0%, rgba(27, 27, 27, 0) 34%) border-box;
}

.expirience__numbers {
  color: #fff;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  font-family: 'STIXTwoText';
}

.expirience__fact-text {
  line-height: 160%;
  min-width: 20px;
  max-width: 290px;
}


/* ===========================HEADER-PRACT================================= */
/* ===========================HEADER-PRACT================================= */



.header__pract-inner {
  margin-left: auto;
  width: 804px;
}

.pract__heading {
  margin-bottom: 50px;

}

.pract__title {
  font-family: 'STIXTwoText';
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: #fff;
  margin-bottom: 16px;
}

.pract__text {
  font-weight: 500;
  line-height: 160%;
}

.pract__list {
  display: grid;
  grid-template: 1fr 1fr / repeat(2, minmax(392px, 119px));
  gap: 20px;
}

.pract__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 392px;
  height: 119px;
  background: rgba(255, 255, 255, .05);
  border-radius: 8px;
  transition: .3s all;
}

.pract__link img {
  opacity: 0.6;
  transition: all .4s;
}

.pract__link:hover img {
  opacity: 1;
  transition: all .3s;
}

/* ===========================RESOURCES================================= */
/* ===========================RESOURCES================================= */

.main__resources {
  background: url("../image/backgroud_grey.jpg") #fff no-repeat center/cover;
  background-blend-mode: multiply, normal;
}

.resources {
  padding: 160px 160px;
}



.resources__link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;


}


.resources__htitle {
  font-family: 'STIX Two Text';
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: #1B1B1B;
  margin-bottom: 16px;
}

.resources__slide-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 50px;
  margin-right: 80px;
  max-width: 707px;
  margin-right: 30px;



}

.resources__button {
  color: #DA4533;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all .3s;
  height: 50px;
  white-space: nowrap;
  position: relative;
}

.resources__button::after {
  content: "";
  position: absolute;
  background: url("../image/arrow-right.svg") no-repeat;
  top: 20px;
  right: -16px;
  height: 17px;
  width: 30px;
  transition: all .5s;
}

.resources__button:hover:after {
  transform: translateX(8px);
  transition: all .3s;
}

.resources__button:hover {
  transform: scale(1.1);
  transition: all .3s;
}


/* -------------------SLIDER------------- */
/* -------------------SLIDER------------- */



.resources__slider-list {
  width: 100%;
  margin-bottom: 63px;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 400px
}

.resources__list {
  width: 290px;
  position: relative;
  padding: 20px 25px;
  overflow: hidden;
  background: #1B1B1B;
  border-radius: 8px;
  height: 100%;
  margin-right: 20px;

}


.resources__list img {
  width: 167px;
  height: 176px;
  margin: 0 auto;
  display: block;
  margin-top: 43px
}

.resources__list:hover .resources__text {
  font-size: 14px;
  line-height: 23px
}

.resources__list:hover .resources__models {
  opacity: 1;
  margin-bottom: 5px
}

.resources__list:hover .arrow {
  opacity: 1
}

.resources__list:hover img {
  width: 135px;
  height: 142px;
  margin-bottom: 30px;
  opacity: 0.5;
  transition: 0.3s all
}

.resources__models {
  opacity: 0;
  transition: 0.3s all;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}

.resources__text {

  font-size: 18px;
  line-height: 160%;
  color: #8A8A8A;
  transition: all 0.5s;
}

.resources__buttom {
  display: none;
}


/* -------------------SLIDER-ARROWS------------- */
/* -------------------SLIDER-ARROWS------------- */

.resources__slider-arrows {

  bottom: -20%;
  left: 50%;
  justify-content: center;
  display: flex;
  margin-top: 40px;

}

.resources__slider-prev {
  height: 30px;
  width: 50px;
  border: 1px solid #DA4533;
  border-radius: 5px;
  margin-right: 20px;
  position: relative;
}

.resources__slider-next {
  height: 30px;
  width: 50px;
  border: 1px solid #DA4533;
  border-radius: 5px;
  position: relative;
  transition: all .3s;
}

.resources__slider-next::before {
  content: '';
  background: url('../image/slider1/arrow-right.svg') no-repeat;
  position: absolute;
  width: 42px;
  height: 10px;
  top: 9px;
  left: 3px;
  transition: all .3s;
}

.resources__slider-prev::before {
  content: '';
  background: url('../image/slider1/arrow-left.svg') no-repeat;
  position: absolute;
  width: 42px;
  height: 10px;
  top: 9px;
  left: 3px;
  transition: all .3s;
}

.resources__slider-next:hover {
  transform: scale(1.1);
  transition: all .3s;
}

.resources__slider-next:hover:before {
  transform: translateX(15px);
  transition: all .3s;
}


.resources__slider-prev:hover {
  transform: scale(1.1);
  transition: all .3s;
}

.resources__slider-prev:hover:before {
  transform: translateX(-15px);
  transition: all .3s;
}



/* ===========================QUIZ================================= */
/* ===========================QUIZ================================= */

.main__quiz {
  background: url("../image/backgroud_black.jpg") #DA4533 no-repeat center/cover;
  background-blend-mode: multiply, normal;

}


.quiz {
  padding: 160px 0;
}

.quiz__inner {
  margin: 0 auto;

}

.quiz__wrapper {
  width: 1041px;
  margin: 0 auto;
}

.quiz__heading {
  color: #fff;
  margin-bottom: 50px;
}

.quiz__title {
  font-family: 'STIX Two Text';

  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
}

.quiz__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.75;
}

.quiz__test {
  color: #F9F9F9;
  line-height: 160%;
  background: #1B1B1B;
  border-radius: 10px;
  padding-bottom: 30px;
  position: relative;
  display: block;
  width: 100%;
}

.quiz__questions {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  margin: 0 40px;

}

.quiz__question {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  margin-bottom: 30px;
  margin-right: 50px;
}

.quiz__number {
  font-family: 'STIX Two Text';
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  position: absolute;
  top: 39px;
  right: 36px;
}

.quiz__number span {
  color: #DA4533;
}


.quiz__list {
  display: grid;
  grid-template: 1fr 1fr / repeat(2, 1fr);
  gap: 15px;
  margin: 0 40px 40px 40px;

}

.quiz__item {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px 20px;
  align-items: center;
  display: flex;
  opacity: 1;
  transition: all .3s;
  cursor: pointer;

}



.quiz__item:hover {
  background: #ef5543
}

.quiz__item:focus {
  outline: none;
  border: 1px solid #DA4533;
}




.quiz__buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;

}




.quiz__buttons-next {
  margin-left: auto;

}

.quiz__bonus {
  width: 804px;
  padding-top: 50px;
  margin: 0 auto;
}



.quiz__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 25px;

}

.quiz__sculpture {
  margin-right: 15px;
}

.quiz__bonuses {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.quiz__block {
  background: #1B1B1B;
  border-radius: 10px;
  padding: 15px;
  margin-right: 20px;
  width: 392px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #fff;
}

.quiz__block:last-child {
  margin-right: 0;
}



/* ===========================CASES================================= */
/* ===========================CASES================================= */
.cases__bottom {
  display: none;
}

.main__cases {
  padding: 160px 0 240px;
}

.cases {
  background: url("../image/backgroud_black.jpg") #1B1B1B no-repeat center/cover;
  background-blend-mode: multiply, normal;
}


.cases__htitle {
  font-family: 'STIX Two Text';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: #fff;
}

.cases__link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.cases__slide-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 50px;
  max-width: 707px;
  margin-right: 30px;
}

.cases__button {
  color: #DA4533;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 6px;
  transition: all .3s;
  height: 50px;
  margin-right: 22px;
  white-space: nowrap;
  position: relative;
}

.cases__button::after {
  content: "";
  position: absolute;
  background: url("../image/arrow-right.svg") no-repeat;
  top: 20px;
  right: -16px;
  height: 17px;
  width: 30px;
  transition: all .5s;
}

.cases__button:hover:after {
  transform: translateX(8px);
  transition: all .3s;
}

.cases__button:hover {
  transform: scale(1.1);
  transition: all .3s;
}

/* ===========================CASES-SLIDER================================= */
/* ===========================CASES-SLIDER================================= */

.cases__slider {
  position: relative;
}

.cases__slide-list {
  display: flex;
  gap: 20px;
  width: 100%;
}



.cases__slide {
  /* width: 600px; */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 289px;
  transition: all .3s;
  margin-right: 20px;
}



.cases__slide::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url("../image/slider2/arrow.png") no-repeat;
  top: 22px;
  right: 29px;
  opacity: 0.5;

}

.cases__slide:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: all .3s;
}

.cases__slide.cases__slide:hover:after {
  opacity: 1;
  transition: all .3s;
}


.cases__brand {
  height: 100%;
  transition: 0.3s all;
  width: 283px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px
}

.cases__info {
  width: 269px;
}


.cases__info-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #F9F9F9;
  margin-bottom: 8px
}

.cases-info-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #8A8A8A;
}


/* --------------------CASES__SLIDER--ARROWS----------------------- */

.cases__slider-arrows {
  justify-content: center;
  display: flex;
  margin-top: 40px;
  margin-left: -12.7px;

}



.cases__slider-prev {
  height: 30px;
  width: 50px;
  border: 1px solid #DA4533;
  border-radius: 5px;
  margin-right: 20px;
  position: relative;
}

.cases__slider-next {
  height: 30px;
  width: 50px;
  border: 1px solid #DA4533;
  border-radius: 5px;
  position: relative;
  transition: all .3s;
}

.cases__slider-next::before {
  content: '';
  background: url('../image/slider1/arrow-right.svg') no-repeat;
  position: absolute;
  width: 42px;
  height: 10px;
  top: 9px;
  left: 3px;
  transition: all .3s;
}

.cases__slider-prev::before {
  content: '';
  background: url('../image/slider1/arrow-left.svg') no-repeat;
  position: absolute;
  width: 42px;
  height: 10px;
  top: 9px;
  left: 3px;
  transition: all .3s;
}

.cases__slider-next:hover {
  transform: scale(1.1);
  transition: all .3s;
}

.cases__slider-next:hover:before {
  transform: translateX(15px);
  transition: all .3s;
}


.cases__slider-prev:hover {
  transform: scale(1.1);
  transition: all .3s;
}

.cases__slider-prev:hover:before {
  transform: translateX(-15px);
  transition: all .3s;
}


/* =========================== TEAM ================================= */
/* =========================== TEAM ================================= */


.main__team {
  background: url("../image/backgroud_grey.jpg") #fff no-repeat center/cover;
  background-blend-mode: multiply, normal;
}

.team {
  padding: 160px 0 200px;
}


.team__htitle {
  font-family: 'STIX Two Text';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: #1B1B1B;
}


.team__slide-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #8A8A8A;
  max-width: 707px;
  margin-bottom: 50px;
}

.team__slider {
  display: flex;
}

.team__slider-list {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}

.team-slide {
  width: 289px;
  margin-right: 20px;
}


.team-slide:hover .team__slide-img {
  filter: grayscale(0);
  transition: all .3s;
  transform: scale(.98);
}


.team__slide-img {
  width: 289px;
  width: 100%;
  margin-bottom: 10px;
  filter: grayscale(1);
  transition: all .4s;
}

.team__slide-img img {
  border-radius: 8px;
  width: 100%;
}

.team__slide-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1B1B1B;
  margin-bottom: 5px
}

.team__slide-pos {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #5C5C5C;
}

/* --------------------TEAM__SLIDER--ARROWS----------------------- */

.team__slider-arrows {
  justify-content: center;
  display: flex;
  margin-top: 40px;
  margin-left: -12.7px;

}



.team__slider-prev {
  height: 30px;
  width: 50px;
  border: 1px solid #DA4533;
  border-radius: 5px;
  margin-right: 20px;
  position: relative;
}

.team__slider-next {
  height: 30px;
  width: 50px;
  border: 1px solid #DA4533;
  border-radius: 5px;
  position: relative;
  transition: all .3s;
}

.team__slider-next::before {
  content: '';
  background: url('../image/slider1/arrow-right.svg') no-repeat;
  position: absolute;
  width: 42px;
  height: 10px;
  top: 9px;
  left: 3px;
  transition: all .3s;
}

.team__slider-prev::before {
  content: '';
  background: url('../image/slider1/arrow-left.svg') no-repeat;
  position: absolute;
  width: 42px;
  height: 10px;
  top: 9px;
  left: 3px;
  transition: all .3s;
}

.team__slider-next:hover {
  transform: scale(1.1);
  transition: all .3s;
}

.team__slider-next:hover:before {
  transform: translateX(15px);
  transition: all .3s;
}


.team__slider-prev:hover {
  transform: scale(1.1);
  transition: all .3s;
}

.team__slider-prev:hover:before {
  transform: translateX(-15px);
  transition: all .3s;
}


/* =========================== FORUM ================================= */
/* =========================== FORUM ================================= */

.team__forum {
  padding-top: 70px;
}

.team__forum-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.team__forum-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: #1B1B1B;
}



.team__filter-btn {
  margin-right: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #5C5C5C;
  background: none;
}

.team__filter-btn:last-child {
  margin-right: 0;
}


/* -------------------- FORUM CARD ---------------- */

.team__card {
  display: grid;
  /* grid-template: 1fr / repeat(3, minmax(450px, 1fr)); */
  grid-template: 1fr / repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 0 58px 0;
  border-bottom: 1.5px solid;
  border-image: linear-gradient(90deg, rgba(140, 140, 140, 1), rgba(140, 140, 140, 0.5), rgba(166, 166, 166, 0) 100.87%, #ffffff) 100.87% 0%;
}

.team__card-info {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.team__card-expert {
  margin-right: 15px;

}

.team__card-expert img {
  border-radius: 50%;
}


.team__card-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1B1B1B;
}

.team__card-pos {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #5C5C5C;
}

.team__card-forums {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1B1B1B;
  margin-bottom: 5px;

}

.team__card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #5C5C5C;
}

.team__card-lection {
  margin-right: 50px;
}


.team__card-br {
  background: linear-gradient(90deg, #DA4533 0%, rgba(218, 69, 51, 0) 100.87%);
  height: 1px;
  width: 100%;
  margin: 5px 0 10px;
  min-width: 271px;
}



.team__card-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.team__card-date:hover.team__card-date::before {
  z-index: 1;
  transition: all 0.2s;
}

.team__card-date::before {
  content: "";
  width: 210px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #DA4533;
  top: -13px;
  right: 121px;
  position: absolute;
  transition: all .3s;
  z-index: -1;
}


.team__card-date::after {
  content: "";
  width: 50px;
  height: 8px;
  background: url("../image/forum/arrow.svg") no-repeat;
  top: 22px;
  right: 85px;
  position: absolute;
  transition: all .3s;
  z-index: -1;
}

.team__card-date:hover.team__card-date::after {
  z-index: 1;
  transition: all 0.2s;
}


.team__card-month {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #1B1B1B;
  white-space: nowrap;
  margin-bottom: 5px;
}

.team__card-time {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1B1B1B;

}

.team__filter-btn--active {
  color: #DA4533;
}



/* =========================== CONSULTATION ================================= */
/* =========================== CONSULTATION ================================= */


.main__consultation {
  background: url("../image/backgroud_black.jpg") #DA4533 no-repeat center/cover;
  background-blend-mode: multiply, normal;

}

.consultation__main {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.consultation__content {
  margin-right: 30px;
}

.consultation__subtitle {
  line-height: 160%;
  margin-bottom: 8px;
}


.consultation__title {
  font-family: 'STIX Two Text';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 135%;
  color: #fff;
  margin-bottom: 16px;
}


.consultation__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 30px;
}

.consultation__button-box {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
}


.consultation__button {
  background: #1B1B1B;
  margin-right: ;
}

.consultation__button:last-child {
  margin: 0 auto;
}




.consultation__button-empty:hover:after {
  transform: translateX(8px);
  transition: all .3s;
}


.consultation__button-empty:hover {
  transform: scale(1.1);
  transition: all .3s;
}



.consultation__button-empty::after {
  content: "";
  position: absolute;
  background: url("../image/arrow-right.svg") no-repeat;
  top: 47%;
  right: -16px;
  height: 17px;
  width: 30px;
}

.consultation__img-box {
  max-width: 544px;
  max-height: 513px;
  width: 100%;
  height: 100%;

}

/* ============================== FOOTER ============================== */
/* ============================== FOOTER ============================== */

.footer {
  background: url("../image/backgroud_black.jpg") #1B1B1B no-repeat center/cover;
  background-blend-mode: multiply, normal;
}

.footer__inner {
  padding-top: 100px;
}

.footer__data {
  display: flex;
  padding: 0 0 58px 0;
  border-bottom: 1.5px solid;
  border-image: linear-gradient(90deg, rgba(140, 140, 140, 1), rgba(140, 140, 140, 0.5), rgba(166, 166, 166, 0) 100.87%, #ffffff) 100.87% 0%;
}

.footer__data-logo {
  margin-right: 19px;
}

.footer-data__logo img {
  width: 100%;
  height: 100%
}

.footer__data-text {
  display: flex;
  align-items: center;
}

.footer__data-society {
  width: 515px;
  margin-right: 184px;
  color: #8A8A8A;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;

}

.footer__data-document {
  width: 289px
}

.footer__data-address {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  margin-bottom: 10px
}

.footer__data-about {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between
}




.footer__data-inn {
  color: #5C5C5C;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;

}

.footer__data-cpp {
  color: #5C5C5C;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;

}

.footer__data-inn span {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}

.footer__data-cpp span {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}


.footer__info {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: 130px;
  margin-top: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  white-space: nowrap;
}


.footer__info-nav {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #5C5C5C;
  margin-bottom: 20px;
}

.footer__info-menu {
  display: inline-block;
  color: #fff;
}

.footer__contacts-menu {
  color: #fff;
}

.footer__info-item {
  margin-bottom: 15px;
  transition: all .3s;
}

.footer__info-item:hover {
  color: #DA4533;
  transition: all .3s;
  transform: scale(1.1);

}




.footer__contacts-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #5C5C5C;
  margin-bottom: 20px;
}


.footer__contacts-item {
  margin-bottom: 15px;
  transition: all .3s;
}

.footer__contacts-item:hover {
  color: #DA4533;
  transition: all .3s;
  transform: scale(1.1);

}

.footer__contacts-scheme {
  transition: all.3s;
}

.footer__contacts-scheme:hover {
  color: #DA4533;
  transition: all .3s;
  transform: scale(1.1);

}




.footer__socials-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #5C5C5C;
  margin-bottom: 20px;
}

.footer__socials-menu {
  display: inline-block;
}

.footer__socials-item {
  margin-bottom: 15px;
  transition: all .3s;
}

.footer__socials-item:hover {
  color: #DA4533;
  transition: all .3s;
  transform: scale(1.1);
}

.footer__get-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #5C5C5C;
  margin-bottom: 20px;
}

.footer__get-menu {
  display: inline-block;
}

.footer__get-item {
  transition: all .3s;
}

.footer__get-item:hover {
  color: #DA4533;
  transform: scale(1.1);
  transition: all .3s;
}



.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 50px 0;
}

.footer__copyright-copy {
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #8A8A8A;
}

.footer__copyright-oferta {
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #fff;
  transition: all .3s;
}

.footer__copyright-oferta:hover {
  color: #DA4533;
  transform: scale(1.1);
  transition: all .3s;
}

.footer__copyright-agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 165%;
  color: #fff;
  transition: all .3s;
}

.footer__copyright-agreement:hover {
  color: #DA4533;
  transform: scale(1.1);
  transition: all .3s;

}

.footer__info-hidden {
  display: none;
}

.footer__socials__hidden {
  display: none;
}

.footer__copyright-hidden {
  display: none;
}

.footer__socials-hidden {
  display: none;
}






/* = = = = = = = = = MEDIA = = = = = = = = = = = = */
/* ==================1400========================= */
/* = = = = = = = = = MEDIA = = = = = = = = = = = = */


@media (max-width: 1400px) {
  .burger {
    display: block;

  }

  .header__nav-list {
    display: none;
  }


  .menu__nav {
    margin-right: 120px;
  }

  .menu__nav-list {}

  .menu__nav-item {
    color: #fff;
    line-height: 160%;
    margin-right: 30px;
    transition: all .3s;
  }

  .menu__nav-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 160%;

    color: #FFFFFF;
  }

  .menu__nav-item:hover {
    color: #DA4533;
    transform: scale(1.1);
    transition: all .4s;
  }

  .menu__nav-link:hover {
    color: #DA4533;
    transition: all .3s;
  }


  .header__top-inner {
    justify-content: space-between;
  }

  .menu__wrapper {
    transform: translateX(100%);
  }

  .menu--open {
    transform: translateX(0%);

  }

  .menu__hidden {
    display: block;
  }

  .menu__wrapper {
    position: fixed;
    display: flex;
    background: url("../image/backgroud_black.jpg") #1B1B1B no-repeat center/cover;
    background-blend-mode: multiply, normal;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding-top: 70px;
    padding-left: 120px;
    transition: all .6s;
    overflow: auto;
  }

  .header__nav {
    display: flex;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: start;
    margin-right: 120px;
  }

  .header__nav-item {
    font-weight: 500;
    font-size: 34px;
    line-height: 160%;
    color: #FFFFFF;
  }


  .menu__contacts {
    padding: 0 225px 0 0;

  }

  .menu__contact {
    margin-bottom: 50px;
  }

  .menu__contact-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #5C5C5C;
    margin-bottom: 20px;
  }

  .menu__contact-item {
    margin-bottom: 15px;
  }

  .menu__contact-link {
    transition: all .3s;
  }

  .menu__contact-link:hover {
    color: #DA4533;
    transition: all .3s;
  }

  .menu__contact-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #fff;

  }

  .menu__socials {
    margin-bottom: 50px;
  }

  .menu__socials-link {
    transition: all .3s;
  }

  .menu__socials-link:hover {
    color: #DA4533;
    transition: all .3s;
  }

  .menu__socials-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #5C5C5C;
    margin-bottom: 20px;

  }

  .menu__socials-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
  }

  .menu__socials-item:first-child {
    margin-bottom: 15px;
  }

  .menu__get {
    position: relative;
  }

  .menu__get::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 493px;
    background: url("../image/burger.svg");
    top: 206px;
    right: -60px;
  }

  .menu__get-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #5C5C5C;
    margin-bottom: 20px;
  }

  .menu-get__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
  }

  .menu__get-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 165%;
    color: #8A8A8A;
    margin-bottom: 10px;
    max-width: 250px;
  }

  .menu__get-about {
    font-weight: 400;
    font-size: 14px;
    line-height: 165%;
    color: #8A8A8A;
  }

  .menu__get-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    margin-bottom: 20px;
  }

  .menu__get-about {
    display: inline-flex;

  }


  .menu__get__inn {
    margin-right: 15px;
  }


  /* ----------------HEADER BODY-------------- */

  .header__title {
    font-size: 48px;

  }

  .header__text {
    font-size: 16px;
  }


}


/* = = = = = = = = = MEDIA = = = = = = = = = = = = */
/* ==================1260========================= */
/* = = = = = = = = = MEDIA = = = = = = = = = = = = */


@media (max-width: 1260px) {

  /* - - - - - - HEADER - -- - - - - */
  .header__expirience-inner {
    display: flex;
    align-items: center;

  }

  /* - - - - - - EXPIRIENCE - -- - - - - */

  .expirience__img-box {
    display: none;
  }

  /* ----------------FOOTER-------------- */

  .footer__data {}

  .footer__data-society {
    max-width: 328px;
    margin-right: 115px;
  }

  .footer__info {
    gap: 109px;
  }
}



/* = = = = = = = = = MEDIA = = = = = = = = = = = = */
/* ==================1100========================= */
/* = = = = = = = = = MEDIA = = = = = = = = = = = = */

@media (max-width: 1100px) {

  /* - - - - - - HEADER - -- - - - - */

  .header__text {
    max-width: 432px;
  }

  /* - - - - - - RESOURCES SLIDER - -- - - - - */

  .resources__htitle {
    font-size: 32px;
  }

  .resources__slide-heading {
    margin-right: 50px;
  }

  .resources {
    padding: 80px 0px 80px
  }

  .resources__list {
    padding: 5px;
    height: 317px
  }

  .resources__list img {
    width: 123px;
    height: 131px;
    margin-top: 36px;
    margin-bottom: 24px;
  }

  .resources__list:hover img {
    width: 100px;
    height: 110px
  }


  .resources__text {
    line-height: 18px;
    font-size: 14px
  }


  .resources__models {
    line-height: 8px
  }

  .resources__slider {
    height: auto;
  }

  /* - - - - - - QUIZ - -- - - - - */

  .quiz__title {
    font-size: 32px;
  }

  .quiz__text {
    font-size: 18px;
  }

  .quiz__question {
    font-size: 20px;
  }

  .quiz__number {
    font-size: 32px;
  }

  .quiz__wrapper {
    width: 936px;
  }
}


/* = = = = = = = = = MEDIA = = = = = = = = = = = = */
/* ==================1020========================= */
/* = = = = = = = = = MEDIA = = = = = = = = = = = = */

@media (max-width: 1020px) {
  /* ----------------FOOTER-------------- */


  .footer__data-text {
    display: block;
    width: 480px
  }

  .footer__data-society {
    margin-right: 0;
    max-width: 488px;
    margin-bottom: 20px;
  }

  .footer__data-document {
    display: flex;
    width: 386px;
    justify-content: space-between;
    margin-right: 0;
    align-items: center;
  }

  .footer__data-about {
    flex-direction: column;
    width: 130px;
    justify-content: start;
  }

  .footer__data-address {
    width: 749px;
    margin-right: 20px;
  }

  .footer__data-inn {
    margin-bottom: 5px
  }

  .footer__data-inn {

    width: 150px;
  }

  .footer__data-cpp {
    width: 150px;
  }

  .footer__get {
    display: none;
  }

}



/* = = = = = = = = = MEDIA = = = = = = = = = = = = */
/* ==================1000========================= */
/* = = = = = = = = = MEDIA = = = = = = = = = = = = */

@media (max-width: 1000px) {

  /* - - - - - - ОТСТУПЫ 120px - -- - - - - */
  .main__quiz {
    padding: 120px 0;
  }

  .main__team {
    padding: 120px 0;
  }

  .main__cases {
    padding: 120px 0;
  }

  .main__consultation {
    padding: 120px 0;
  }

  .main__resources {
    padding: 120px 0;
  }

  .header__body-inner {
    padding: 120px 0;
  }

  .header__expirience-inner {
    padding-bottom: 110px;
  }

  /* - - - - - - HEADER - -- - - - - */
  .header__title {
    font-size: 44px;
    line-height: 135%;
  }



  .quiz__wrapper {
    width: 700px;
  }

  .quiz__bonuses {
    width: 700px;
  }
}

/* = = = = = = = = = MEDIA = = = = = = = = = = = = */
/* ==================850========================= */
/* = = = = = = = = = MEDIA = = = = = = = = = = = = */

@media (max-width: 850px) {

  /* - - - - - - EXPIRIENCE - -- - - - - */

  .expirience__title {
    font-size: 32px;
  }

  .pract__title {
    font-size: 32px;
  }

  .expirience__list {
    grid-template-columns: 352px 352px;

  }

  .expirience__heading {
    margin-bottom: 40px;

  }

  .expirience__text {
    max-width: 617px;
  }

  /* - - - - - - PRACT - -- - - - - */

  .pract__text {
    max-width: 617px;
  }

  .pract__list {
    grid-template-columns: 350px 330px;
    gap: 20px;
  }

  .pract__link {
    width: 356px;
  }

  /* - - - - - - TEAM-FORUM - -- - - - - */

  .team__card-info {
    flex-direction: column;

  }

  .team__card-experts {
    align-items: center;
  }

  .team__card-expert {
    margin-bottom: 15px;
  }

  .team__card-name {
    margin-bottom: 5px;
  }
}


/* = = = = = = = = = MEDIA = = = = = = = = = = = = */
/* ==================770========================= */
/* = = = = = = = = = MEDIA = = = = = = = = = = = = */
@media (max-width: 770px) {

  /* - - - - - - BURGER - -- - - - - */

  .menu__wrapper {
    display: block;
    justify-content: flex-end;
    padding-top: 30px;
  }

  .menu__get::after {
    display: none;
  }

  .menu__nav {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .menu__contacts {
    padding: 0 72px 0 0;
  }

  .menu__nav-link {
    font-size: 22px;
  }

  .menu__contact-title {
    font-size: 16px;
  }

  .menu__contact-link {
    font-size: 14px;
  }

  .menu__socials-title {
    font-size: 16px;
  }

  .menu__socials-link {
    font-size: 14px;
  }

  .menu__get-title {
    font-size: 16px;
  }

  .menu__get-link {
    font-size: 12px;
  }

  .menu__socials {
    display: inline-block;
  }



  /* - - - - - - HEADER- -- - - - - */

  .header__top-cons {
    display: none;
  }


  .header__subtitle {
    align-items: center;
    text-align: center;
  }

  .header__title {
    font-size: 44px;
    line-height: 135%;
    text-align: center;

  }


  .header__text {
    text-align: center;
    margin-bottom: 36px;
    max-width: none;

  }

  .header__button-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__button {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .header__img-box {
    display: none;
  }

  .header__content {
    margin-right: 0;
  }


  /* - - - - - - EXPIRIENCE - -- - - - - */

  .expirience__block1 {
    margin-bottom: 80px;
  }

  .expirience__title {
    font-size: 28px;
  }

  .expirience__list {
    grid-template-columns: 220px 220px;

  }

  .expirience__heading {
    margin-bottom: 40px;

  }

  .expirience__numbers {
    font-size: 28px;
  }

  .expirience__fact-text {
    font-size: 14px;
  }

  .expirience__text {
    max-width: 475px;
  }


  /* - - - - - - PRACT - -- - - - - */
  .pract__title {
    font-size: 28px;
  }

  .pract__text {
    max-width: 475px;
  }

  .pract__link img {
    transform: scale(0.8);
  }

  .pract__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .pract__link {
    width: 458px;
  }


  .resources__button {
    display: none;
  }

  .resources__buttom {
    display: block;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
  }


  /* - - - - - - QUIZ - -- - - - - */

  .quiz__wrapper {
    width: 439px;
  }

  .quiz__list {
    grid-template-columns: 100%;
  }

  .quiz__bonus {
    width: 439px;
  }

  .quiz__bonuses {
    flex-direction: column;
    width: 439px;
  }

  .quiz__block {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }

  .quiz__block:last-child {
    margin-bottom: 0;

  }

  /* - - - - - - CASES - -- - - - - */
  .cases__button {
    display: none;
  }

  .cases__bottom {
    display: block;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
  }

  .cases__slide::after {
    transform: scale(0.9);
  }

  /* - - - - - - CONSULTATION - -- - - - - */

  .consultation__img-box {
    display: none;
  }


  .consultation__content {
    align-items: center;
    margin-right: 0;
    margin: 0 auto;


  }

  .consultation__text {
    text-align: center;
  }

  .consultation__title {
    font-size: 28px;
    text-align: center;
  }

  .consultation__button {
    margin: 0 auto;

  }


  /* - - - - - - TEAM-FORUM - -- - - - - */

  .team__card {
    display: grid;

  }

  .team__card-info {
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .team__card-info {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  /* ----------------FOOTER-------------- */

  .footer__data{
    flex-direction: column;
  }
  .footer__data-logo{
    margin-right: 0;
    margin-bottom: 15px;
  }
  .footer__info{
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
  }

  .footer__copyright{
    display: none;
  }
  .footer__copyright-hidden {
    display: inline-flex;
    flex-direction: column;
    margin-top: 35px;
  }

  .footer__copyright-agreement {
    margin-bottom: 10px;
  }
.footer__copyright-oferta{
  margin-bottom: 10px;
}
}

/* = = = = = = = = = MEDIA = = = = = = = = = = = = */
/* ==================600========================= */
/* = = = = = = = = = MEDIA = = = = = = = = = = = = */



@media (max-width: 600px) {



  /* - - - - - - RESOURCES SLIDER - -- - - - - */

  .resources__subtitle {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px
  }

  .services__bottom {
    margin-top: 30px
  }

  .resources__slide-heading {
    margin-right: 0;
    font-size: 16px;
  }

  .resources__htitle {
    font-size: 28px;
  }

  .resources {
    padding: 60px 0 60px
  }

  .resources__title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px
  }


  .services__bottom {
    margin-top: 30px
  }
}



/* = = = = = = = = = MEDIA = = = = = = = = = = = = */
/* ==================510========================= */
/* = = = = = = = = = MEDIA = = = = = = = = = = = = */

@media (max-width: 510px) {

  /* - - - - - - ОТСТУПЫ 80px - -- - - - - */
  .main__quiz {
    padding: 80px 0;
  }

  .main__team {
    padding: 80px 0;
  }

  .main__cases {
    padding: 80px 0;
  }

  .main__consultation {
    padding: 80px 0;
  }

  .main__resources {
    padding: 80px 0;
  }

  .header__body-inner {
    padding: 80px 0;
  }

  .header__expirience-inner {
    padding-bottom: 80px;
  }




  /* - - - - - - EXPIRIENCE - -- - - - - */
  .expirience__title {
    font-size: 24px;
  }

  .expirience__text {
    max-width: 354px;
  }

  .expirience__item {
    display: flex;
    align-items: center;
    padding: 13px;
  }

  .expirience__list {
    grid-template-columns: 350px;

  }

  .expirience__numbers {
    font-size: 24px;
  }

  .expirience__fact-text {
    font-size: 12px;
    margin-left: 20px;
  }

  /* - - - - - - PRACT - -- - - - - */
  .pract__title {
    font-size: 24px;
  }

  .pract__text {
    max-width: 354px;
  }

  .pract__link img {
    transform: scale(0.6);
  }

  .pract__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .pract__link {
    width: 345px;
    height: 105px;
  }

  /* - - - - - - RESOURCES - -- - - - - */

  .cases__button {}

  /* - - - - - - QUIZ - -- - - - - */
  .main__quiz {
    padding: 80px 0;
  }

  .quiz__title {
    font-size: 28px;
  }

  .quiz__text {
    font-size: 16px;

  }

  .quiz__question {
    font-size: 18px;
  }

  .quiz__item {
    padding: 10px 14px;
  }

  .quiz__item p {
    font-size: 12px;
  }

  .quiz__wrapper {
    width: 320px;
  }

  .quiz__list {
    grid-template-columns: 100%;
  }

  .quiz__bonus {
    width: 320px;
  }

  .quiz__bonuses {
    flex-direction: column;
    width: 320px;
  }

  .quiz__block {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
    font-size: 12px;
  }

  .quiz__block:last-child {
    margin-bottom: 0;

  }

  /* - - - - - - TEAM_SLIDER - -- - - - - */

  .team__htitle {
    font-size: 28px;
  }

  /* - - - - - - CASES - -- - - - - */

  .cases__htitle {
    font-size: 28px;
  }


  .cases__slide {
    flex-direction: column;
    height: 320px;
  }

  .cases__brand {
    width: 100%;
    height: 100px;
    margin: 0 0 20px 0;

  }

  .cases__brand img {
    width: 103px;
  }

  .cases__info {
    width: 100%;
    padding: 15px;
  }

  .cases__info-title {
    line-height: 120%;
  }

  .cases__slide::after {
    transform: scale(0.7);
  }

  .container {
    width: 400px;
  }

  /* - - - - - - TEAM-FORUM - -- - - - - */

  .team__forum-heading {
    display: inline-block;
  }

  .team__filter-btn {
    margin-right: 26px;
  }

  .team__forum-filter {
    max-width: 300px;
  }

  .team__card {
    /* grid-template-columns: 1fr ; */
    margin-right: 0;
    grid-template: 1fr / repeat(1, minmax(320px, 1fr));
  }

  .team__card-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: -3;
  }

  .team__card-info {
    margin-right: 0;
  }

  .team__card-lection {
    margin-right: 0;
  }

  .team__card-desc {
    margin-bottom: 30px;
  }

  .team__card-info {
    margin-bottom: 30px;
    max-width: 400px;
  }

  .team__card-desc {
    font-size: 14px;
  }

  .team__card-date {
    display: inline-block;

  }

  .team__card-date::before {
    right: 170px;

  }

  .team__card-date::after {
    right: 139px;
  }

  .team__card-forums {
    font-size: 14px;
  }

  .team__card-name {
    font-size: 14px;
  }

  .team__card-expert img {
    width: 80px;
    height: 80px;
  }

  /* - - - - - - TEAM-FORUM - -- - - - - */

  .footer__info{
    gap: 20px;
  }

}


/* = = = = = = = = = MEDIA = = = = = = = = = = = = */
/* ==================450========================= */
/* = = = = = = = = = MEDIA = = = = = = = = = = = = */

@media (max-width: 450px) {

  /* - - - - - - ОТСТУПЫ 60px - -- - - - - */
  .main__quiz {
    padding: 60px 0;
  }

  .main__team {
    padding: 60px 0;
  }

  .main__cases {
    padding: 60px 0;
  }

  .main__consultation {
    padding: 60px 0;
  }

  .main__resources {
    padding: 60px 0;
  }

  .header__body-inner {
    padding: 60px 0;
  }

  .header__expirience-inner {
    padding-bottom: 60px;
  }

  .container {
    width: 320px;
  }



  .header__title {
    font-size: 32px;


  }

  .header__text {
    font-size: 14px;
    max-width: 288.2px;
  }

  /* - - - - - - EXPIRIENCE - -- - - - - */

  .expirience__text {
    max-width: 297px;
    font-size: 12px;
  }

  .expirience__list {
    grid-template-columns: 280px;

  }

  .expirience__title {
    font-size: 20px;
  }

  /* - - - - - - PRACT- -- - - - - */
  .pract__title {
    font-size: 20px;
  }

  .pract__text {
    max-width: 300px;
    font-size: 12px;
  }

  .pract__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .pract__link {
    width: 278px;
    height: 80px;
  }

  /* - - - - - - RESOURCES SLIDER - -- - - - - */

  .resources__slide-heading {
    margin-right: 0;
    font-size: 14px;
  }

  .resources__htitle {
    font-size: 20px;
  }

  /* - - - - - - QUIZ - -- - - - - */
  .main__quiz {
    padding: 60px 0;
  }

  .quiz__title {
    font-size: 20px;
  }

  .quiz__text {
    font-size: 12px;

  }

  .quiz__buttons-prev {
    font-size: 14px;
    padding: 5px 13px;
  }

  .quiz__buttons-next {
    font-size: 14px;
    padding: 5px 13px;
  }

  .quiz__question {
    font-size: 14px;
    line-height: 120%;
  }

  .quiz__number {
    font-size: 26px;
  }

  .quiz__item {
    padding: 10px 14px;
    text-align: center;
  }



  .quiz__item p {
    font-size: 12px;
    line-height: 120%;
  }

  .quiz__wrapper {
    width: 250px;
  }

  .quiz__list {
    grid-template-columns: 100%;
  }

  .quiz__bonus {
    width: 250px;
  }

  .quiz__bonuses {
    flex-direction: column;
    width: 250px;
  }

  .quiz__block {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }

  .quiz__block:last-child {
    margin-bottom: 0;

  }

  /* - - - - - - TEAM_SLIDER - -- - - - - */

  .main__team {
    padding: 60px 0;
  }

  .team__htitle {
    font-size: 24px;
  }

  .team__slide-text {
    font-size: 14px;
  }

  .team__slider-arrows {
    margin-top: 25px;
  }

  /* - - - - - - CASES - -- - - - - */

  .cases__htitle {
    font-size: 24px;
  }

  .cases__slide-text {
    font-size: 14px;
  }

  .cases__info {
    padding: 15px;
  }

  .cases__info {
    padding: 15px;
  }

  /* - - - - - - TEAM-FORUM - -- - - - - */

  .team__forum {
    padding-top: 35px;
  }

  .team__card {
    padding-bottom: 20px;
  }

  .team__card-info {
    max-width: 270px;
  }

  .team__card-lection {
    max-width: 270px;
  }

  .team__card-date::before {
    right: 250px;
  }

  .team__card-date::after {
    right: 210px;
  }

  /* - - - - - - FOOTER - -- - - - - */

  .footer__data-logo {
    margin-right: 0;

  }

  .footer__data {
    margin-bottom: 35px;
    display: block;

  }

  .footer__data-society {

    font-size: 14px;
    margin-bottom: 15px;
    margin: 10px 0 15px 0;
    width: 320px;

  }

  .footer__data-address {
    font-size: 14px;
    max-width: 310px;
  }

  .footer__data-text {
    flex-direction: column;
  }

  .footer__data-about {
    font-size: 14px;

  }

  .footer__data-document{
    display: block;
    
  }


  .footer__data-about {
    flex-direction: column;
    justify-content: start;
    width: 130px;
  }

  .footer-data__inn {
    margin-bottom: 5px;
  }

  .footer-data__cpp {
    justify-self: start;
  }

  .footer__info {
    grid-template-columns: 1fr 1fr;
    gap: 10px;

  }

  .footer__info-nav {
    font-size: 16px;
  }

  .footer__socials-title {
    font-size: 16px;
  }

  .footer__socials {
    display: block;
  }

  .footer__contacts-title {
    font-size: 16px;
  }

  .footer__get-title {
    font-size: 16px;
  }

  .footer__get {
    display: none;
  }

  .footer__info-item {
    font-size: 14px;
  }

  .footer__contacts-item {
    font-size: 14px;
  }

  .footer__socials-item {
    font-size: 14px;
  }

  .footer__info-navigation {
    margin-right: 35px;
  }

  .footer__info-hidden {
    display: flex;
    margin-bottom: 30px;
  }

  .footer__info {
    display: none;

  }

  .footer__contacts-scheme {
    font-size: 14px;
  }

  .footer__copyright {
    display: none;
  }


  .footer__copyright-copy {
    margin-bottom: 10px;
  }

  .footer__copyright-oferta {
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .footer__socials__hidden {
    display: block;

  }

  .footer__socials-link {
    margin-right: 62px;
  }

  .footer__socials-link:last-child {
    margin-right: 0;
  }

  .footer__socials-menu {
    display: flex;

  }

  .footer__socials-item {
    margin-right: 40px;
    color: #fff;
  }

  .footer__socials-item:last-child {
    margin-right: 0;
  }

  .footer__copyright-hidden {
    display: inline-flex;
    flex-direction: column;
    font-size: 12px;
    margin-top: 35px;
  }

  .footer__copyright-agreement {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .footer__copyright-copy {
    font-size: 12px;
  }

  .footer__socials-hidden {
    display: block;
  }

  /* - - -  - - - - -TEAM- - - - - -  - */

  .team__card {
    grid-template: 1fr / repeat(1, minmax(450px, 1fr));
  }

  .team__card-info {
    display: inline-flex;
  }

}